################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/WebUcu.Wiki/.vs
/Documents
/Blogs
/Tools
